In [1]:
import pandas
import magic
import os
import glob
import datetime
from collections import OrderedDict

In [2]:
import apes

## Test

In [3]:
from apes.utils.path import data_root, get_data
from apes.core.basedata import BaseData, SourceData, CSVSourceData

In [4]:
file_name = 'sourcedata/sample.csv'
tagl = ['gdp', '2018', '2017', '2013', 'poverty']

### path

In [5]:
data_root()

'/Users/jinningwang/Documents/work/apes/datasets'

In [6]:
get_data(file_name)

'/Users/jinningwang/Documents/work/apes/datasets/sourcedata/sample.csv'

### BaseData

In [7]:
based = BaseData(file_name,
                 name='sample',
                 info='Sample of CAGDP9', tag=tagl)

In [8]:
based

Class: BaseData
Data name: sample
Data type: csv
Data size: 18.68 KB
Is split: False
Created at: 2022-11-10, 10:51:59
Last modified at: 2022-11-09, 21:48:43
Last accessed at: 2022-11-10, 14:40:54
Is split: False
Stored as: /Users/jinningwang/Documents/work/apes/datasets/sourcedata/sample.csv

In [9]:
based.tag

OrderedDict([('power', []),
             ('energy', []),
             ('economy', ['gdp']),
             ('demography', []),
             ('geography', []),
             ('time', ['2018', '2017', '2013']),
             ('ungrouped', ['poverty'])])

In [10]:
based.attr

OrderedDict([('name', 'sample'),
             ('info', 'Sample of CAGDP9'),
             ('file_name', 'sample.csv'),
             ('size', '18.68 KB'),
             ('type', 'csv'),
             ('created_time', '2022-11-10, 10:51:59'),
             ('modified_time', '2022-11-09, 21:48:43'),
             ('accessed_time', '2022-11-10, 14:40:54'),
             ('url', None),
             ('doi', None),
             ('lic', None)])

### SourceData

In [11]:
sourced = SourceData(file_name,
                     name='sample',
                     info='Sample of CAGDP9', tag=tagl,
                     url='sample_url', doi='sample_doi',
                     lic='sample_lic')

In [12]:
sourced

Class: SourceData
Data name: sample
Data type: csv
Data size: 18.68 KB
Is split: False
Created at: 2022-11-10, 10:51:59
Last modified at: 2022-11-09, 21:48:43
Last accessed at: 2022-11-10, 14:40:54
Is split: False
Stored as: /Users/jinningwang/Documents/work/apes/datasets/sourcedata/sample.csv

In [13]:
sourced.tag

OrderedDict([('power', []),
             ('energy', []),
             ('economy', ['gdp']),
             ('demography', []),
             ('geography', []),
             ('time', ['2018', '2017', '2013']),
             ('ungrouped', ['poverty'])])

### Split data

In [14]:
sfile_name = 'sourcedata/sample_split'
baseds = BaseData(sfile_name,
                  name='sample',
                  info='Sample of CAGDP9', tag=tagl)

In [15]:
baseds

Class: BaseData
Data name: sample
Data type: Multiple files, ['csv']
Data size: 18.92 KB
Is split: True
Created at: 2022-11-10, 10:52:34
Last modified at: 2022-11-10, 10:52:34
Last accessed at: 2022-11-10, 10:52:34
Is split: True
Stored in: /Users/jinningwang/Documents/work/apes/datasets/sourcedata/sample_split

### CSV Data

In [16]:
sfile_name = 'sourcedata/sample_split'
tagl = ['gdp', '2018', '2017', '2013', 'poverty']
csvsdata = CSVSourceData(sfile_name,
                         name='sample',
                         info='Sample of CAGDP9', tag=tagl)

In [17]:
csvsdata.as_df()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"""09000""",Connecticut,1,CAGDP9,1,...,All industry total,Thousands of chained 2012 dollars,218135261,216677688,...,238542385,240911922,236050641,235780926,242706532,243286679,247358533,249998102,251495134,235888558
1,"""09000""",Connecticut,1,CAGDP9,2,...,Private industries,Thousands of chained 2012 dollars,193886730,192051189,...,213757827,216663938,211850503,211696714,218349477,218981181,223001214,226422017,228532688,213416926
2,"""09000""",Connecticut,1,CAGDP9,3,11,"Agriculture, forestry, fishing and hunting",Thousands of chained 2012 dollars,547315,537637,...,388922,412486,415340,371603,458637,445665,446142,420935,457907,482213
3,"""09000""",Connecticut,1,CAGDP9,6,21,"Mining, quarrying, and oil and gas extraction",Thousands of chained 2012 dollars,304457,292162,...,130510,156720,157321,188850,268208,337061,189990,185311,184674,183964
4,"""09000""",Connecticut,1,CAGDP9,10,22,Utilities,Thousands of chained 2012 dollars,3236048,3166608,...,4170052,4787031,4682392,4658404,4213794,4012273,3935763,4014921,4097441,4277371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,"""09001""","Fairfield, CT",1,CAGDP9,88,"42, 44-45",Trade,Thousands of chained 2012 dollars,9935462,9733878,...,9464986,9872366,10190356,10561502,11166414,11112208,10783355,10756379,10411702,10030449
64,"""09001""","Fairfield, CT",1,CAGDP9,89,"22, 48-49",Transportation and utilities,Thousands of chained 2012 dollars,1649636,1583996,...,1964717,2878183,2465931,3024615,3370144,2808094,2308162,2320116,2100345,2072942
65,"""09001""","Fairfield, CT",1,CAGDP9,90,"31-33, 51",Manufacturing and information,Thousands of chained 2012 dollars,11827669,13930397,...,16399594,15203451,14984891,14560232,14349311,13667739,13447266,14134809,14658781,13981147
66,"""09001""","Fairfield, CT",1,CAGDP9,91,...,Private goods-producing industries 2/,Thousands of chained 2012 dollars,12483164,14667980,...,14045843,13131323,12012249,11498059,10441747,9270769,8604594,8525289,8124425,7544532
67,"""09001""","Fairfield, CT",1,CAGDP9,92,...,Private services-providing industries 3/,Thousands of chained 2012 dollars,59172858,57090966,...,61542781,64967353,63558108,63516167,65416214,66086957,67389096,68970456,69149985,65024923

In [18]:
csvsdata.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"""09000""",Connecticut,1,CAGDP9,1,...,All industry total,Thousands of chained 2012 dollars,218135261,216677688,...,238542385,240911922,236050641,235780926,242706532,243286679,247358533,249998102,251495134,235888558
1,"""09000""",Connecticut,1,CAGDP9,2,...,Private industries,Thousands of chained 2012 dollars,193886730,192051189,...,213757827,216663938,211850503,211696714,218349477,218981181,223001214,226422017,228532688,213416926
2,"""09000""",Connecticut,1,CAGDP9,3,11,"Agriculture, forestry, fishing and hunting",Thousands of chained 2012 dollars,547315,537637,...,388922,412486,415340,371603,458637,445665,446142,420935,457907,482213
3,"""09000""",Connecticut,1,CAGDP9,6,21,"Mining, quarrying, and oil and gas extraction",Thousands of chained 2012 dollars,304457,292162,...,130510,156720,157321,188850,268208,337061,189990,185311,184674,183964
4,"""09000""",Connecticut,1,CAGDP9,10,22,Utilities,Thousands of chained 2012 dollars,3236048,3166608,...,4170052,4787031,4682392,4658404,4213794,4012273,3935763,4014921,4097441,4277371

In [19]:
file_name = 'sourcedata/sample.csv'
tagl = ['gdp', '2018', '2017', '2013', 'poverty']

csvdata = CSVSourceData(file_name,
                        name='sample',
                        info='Sample of CAGDP9', tag=tagl,
                        url='sample_url', doi='sample_doi',
                        lic='sample_lic')

In [20]:
csvdata

Class: CSVSourceData
Data name: sample
Data type: csv
Data size: 18.68 KB
Is split: False
Created at: 2022-11-10, 10:51:59
Last modified at: 2022-11-09, 21:48:43
Last accessed at: 2022-11-10, 14:40:54
Is split: False
Stored as: /Users/jinningwang/Documents/work/apes/datasets/sourcedata/sample.csv

In [21]:
csvdata.as_df()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"""09000""",Connecticut,1,CAGDP9,1,...,All industry total,Thousands of chained 2012 dollars,218135261,216677688,...,238542385,240911922,236050641,235780926,242706532,243286679,247358533,249998102,251495134,235888558
1,"""09000""",Connecticut,1,CAGDP9,2,...,Private industries,Thousands of chained 2012 dollars,193886730,192051189,...,213757827,216663938,211850503,211696714,218349477,218981181,223001214,226422017,228532688,213416926
2,"""09000""",Connecticut,1,CAGDP9,3,11,"Agriculture, forestry, fishing and hunting",Thousands of chained 2012 dollars,547315,537637,...,388922,412486,415340,371603,458637,445665,446142,420935,457907,482213
3,"""09000""",Connecticut,1,CAGDP9,6,21,"Mining, quarrying, and oil and gas extraction",Thousands of chained 2012 dollars,304457,292162,...,130510,156720,157321,188850,268208,337061,189990,185311,184674,183964
4,"""09000""",Connecticut,1,CAGDP9,10,22,Utilities,Thousands of chained 2012 dollars,3236048,3166608,...,4170052,4787031,4682392,4658404,4213794,4012273,3935763,4014921,4097441,4277371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,"""09001""","Fairfield, CT",1,CAGDP9,88,"42, 44-45",Trade,Thousands of chained 2012 dollars,9935462,9733878,...,9464986,9872366,10190356,10561502,11166414,11112208,10783355,10756379,10411702,10030449
64,"""09001""","Fairfield, CT",1,CAGDP9,89,"22, 48-49",Transportation and utilities,Thousands of chained 2012 dollars,1649636,1583996,...,1964717,2878183,2465931,3024615,3370144,2808094,2308162,2320116,2100345,2072942
65,"""09001""","Fairfield, CT",1,CAGDP9,90,"31-33, 51",Manufacturing and information,Thousands of chained 2012 dollars,11827669,13930397,...,16399594,15203451,14984891,14560232,14349311,13667739,13447266,14134809,14658781,13981147
66,"""09001""","Fairfield, CT",1,CAGDP9,91,...,Private goods-producing industries 2/,Thousands of chained 2012 dollars,12483164,14667980,...,14045843,13131323,12012249,11498059,10441747,9270769,8604594,8525289,8124425,7544532
67,"""09001""","Fairfield, CT",1,CAGDP9,92,...,Private services-providing industries 3/,Thousands of chained 2012 dollars,59172858,57090966,...,61542781,64967353,63558108,63516167,65416214,66086957,67389096,68970456,69149985,65024923